@model IEnumerable<MoodTubeOriginal.Models.Tour>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th> 
            <th>
                    @Html.DisplayNameFor(model => model.Singer.SingerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.When)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Singer.SingerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TourID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TourID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TourID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
